html,
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 1200px;
  background-color: #fbfbfb;
}
#tip-error {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  border-radius: 20px;
  min-height: 50px;
  background-color: #292929;
  box-shadow: #858585 5px 3px 3px;
  transition: bottom ease-in-out 1s;
}
#tip-error .content {
  display: flex;
  flex-flow: column nowrap;
  font-weight: 900;
  color: white;
}
#tip-error .close-button {
  position: relative;
  align-self: flex-end;
  background-image: url("/public/images/close-errors2.png");
  background-size: contain;
  width: 14px;
  height: 14px;
  left: -10px;
  top: 7px;
  cursor: pointer;
}
#tip-error .text {
  text-align: center;
  padding: 0 50px 20px 40px;
}
.center-X {
  left: 50%;
  transform: translateX(-50%);
}
.center-Y {
  top: 50%;
  transform: translateY(-50%);
}
.center-XY {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-window {
  position: fixed;
  display: none;
  padding: 30px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
}
.modal-window.opened {
  display: block;
}
