<div id="page-not-found">
  <div>
    <span class="arrow-down"></span>
  </div>
  <div class="content">
    <div class="info">
      404
    </div>
    <div class="info-small">
      На нашем сайте нет такой страницы. Попробуйте перейти на главную или другую существуюущую.
    </div>
  </div>
</div>