{{#if user}}
  <div style="width: 100%">
    <div style="float: left; margin-right: 5px;">Пользователь: {{user.name}} </div>
    <div style="float: left;"> Переходов: {{user.views}}</div>
  </div>
  <br>
{{/if}}